{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<script src='{% static "chart.min.js" %}'></script>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {{ chart_name }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <canvas id="report" style="max-height: 50rem;">>
  </div>

  <script type="text/javascript">
      const reports = {{ data|safe }};

      {% if label_map %}
      const labels = reports.map((it) => {
        const labelMap = {{ label_map|safe }};
        return labelMap[it.label]
      });
      {% else %}
      const labels = reports.map((it) => it.label);
      {% endif %}

      {% if chart_type == "pie" %}
      const colors = ['#4285f4', '#db4437', '#f4b400', '#0f9d58', '#ff6d00', '#46bdc6', '#ab30c4', '#c1bc1f', '#3949ab', '#f975a8'];
      {% else %}
      const colors = ['#79aec8']
      {% endif %}

      const datasets = [
        {
          label: '{{ chart_label }}',
          data: reports.map(it => it.value),
          backgroundColor: colors,
        },
      ]

      const canvas = document.getElementById('report').getContext('2d');
      const myChart = new Chart(canvas, {
        type: '{{ chart_type }}',
        data: {
          labels: labels,
          datasets: datasets,
        },
      });
  </script>
{% endblock %}
