[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.*"
django-split-settings = "==1.2.*"
django-extensions = "==3.2.*"
django-debug-toolbar = "==4.2.*"
django-object-actions = "==4.2.*"
psycopg2 = "==2.9.*"
openpyxl = "==3.1.*"
python-dateutil = "==2.8.*"
django-jazzmin = "==2.6.*"
requests = "==2.31.*"
pandas = "*"

[dev-packages]
flake8 = "<6.0.0"
black = "*"
coverage = "*"
wily = "*"
bandit = "*"
ipdb = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.12"

[scripts]
manage = "python manage.py"
server = "python manage.py runserver"
migrate = "python manage.py migrate"
test = "python manage.py test"
shell = "python manage.py shell_plus --print-sql"
