{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  </li>
  <li class="breadcrumb-item">
    {{ object|truncatewords:"18" }}
  </li>
  <li class="breadcrumb-item active">{% trans 'Close position' %}</li>
</ol>
{% endblock %}

{% block content %}
<div id="content-main" class="col-12">
  <form method="post">
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="card">
          <div class="card-body">
            {% csrf_token %}
            {% block field_sets %}
              {% for fieldset in adminForm %}
                {% include "admin/includes/fieldset.html" %}
              {% endfor %}
            {% endblock %}
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <div id="jazzy-actions" class="">
          <div>
            <div class="form-group">
              <input type="submit" class="btn btn-info form-control" value="{% translate 'Close' %}" name="apply" />
            </div>
          </div>
        </div>
      </div>
  </form>
</div>
{% endblock %}
