{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block extrastyle %}
  <style>
    .table tbody th {
      background-color: rgba(0,0,0,.05);
    }
  </style>
{% endblock %}

{% block content_title %}{% trans "Basic statistics" %}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  </li>
  <li class="breadcrumb-item active">{% trans "Basic statistics" %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body p-0">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">{% trans "Open amount" %}</th>
              <td>{{ data.open_amount|floatformat:2 }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Close amount" %}</th>
              <td>{{ data.close_amount|floatformat:2 }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Unrealized amount" %}</th>
              <td>{{ data.unrealized_amount|floatformat:2 }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Average open price" %}</th>
              <td>{{ data.average_open_price|floatformat:2 }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Average close price" %}</th>
              <td>{{ data.average_close_price|floatformat:2 }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Position count" %}</th>
              <td>{{ data.position_count }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Units" %}</th>
              <td>{{ data.units }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Profit/Loss" %}</th>
              <td>{{ data.profit_or_loss|floatformat:2 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
